
// Fonts
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,500,600,700%7CPoppins:400,500,600,700");

// Variables
@import "variables";

.card-intro-1, .card-intro-5 {
  background-image: url('/img/flight/hotels/item-1.jpg');
}

.card-intro-2, .card-intro-3 {
  background-image: url('/img/flight/hotels/item-3.jpg');
}

.card-intro-4 {
  background-image: url('/img/flight/hotels/item-4.jpg');
}

.btn-days {
  width:20%;
  padding-left: 10px;
  margin-top:10px;
  cursor:pointer;
}

.hotel-package__props .select2-selection__arrow {
  display: none !important;
}

body {
  margin-bottom: inherit !important;
}

.search-hotels__form .icon {
  font-size: 1.25rem !important;
}
